@import 'node_modules/carbon-components/scss/globals/scss/_colors';
/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.modal {

  .bx--modal-container {
    padding: 0;
    margin: 0;
    width: 50vw;
  }

  &.nav-modal .bx--modal-header {
    display: flex;
    justify-content: space-between;
  }

  &.modal-structured-list .bx--modal-content {
    display: flex;
    height: 40vh;
    position: relative;
  }

  .bx--modal-header {
    padding: 1.25rem 3rem 1.25rem 3rem;
    border-bottom: 1px solid $color__gray-1;
    margin-bottom: 0;

    .toggle {
      margin-right: 15px;
      p {
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .5px;
      }
    }
  }

  .bx--modal-content {
    margin-bottom: 0;
    .modal-form {
      display: flex;
      height: 40vh;
      position: relative;
    }
  }

  .bx--modal-footer {
    border-top: 1px solid $color__gray-1;
    margin: 0;
  }

  .modal-navigation-bar {
    background: $color__gray-3;
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
    border-right: 1px solid $color__gray-1;
    position: fixed;
    height: inherit;
    width: 15%;
    z-index: 2;
    overflow-y: scroll;

    li {
      font-size: .875rem;
      > a {
        color: $color__blue-90;
        text-decoration: none;
        padding: 0.875rem 1.25rem;
        display: block;
      }

      &:hover,
      &.active {
        background: $color__blue-51;
        > a { color: $color__white; }
      }
    }
  }

  .modal-navigation-bar + .modal-inner-content {
    width: 70%;
    margin-left: 30%;
  }

  .modal-inner-content {
    width: 100%;
    padding: 1.25rem 3.5625rem;
    position: absolute;
    .port-wrapper input[type=number] {
      appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .number-input-wrapper {
      .bx--form-item > label {
        display: none;
      }
    }
    .bx--number {
      position: relative;
      align-items: center;

      .bx--number__controls {
        position: absolute;
        right: .75rem;
        left: unset;
        button {
          margin-bottom: unset;
        }
      }
    }
    button {
      margin-left: 0;
      margin-bottom: 1.5rem;
    }

    .field-row {
      display: flex;
    }
  }

  .bx--checkbox-label {
    .bx--tooltip__trigger {
      font-weight: normal;
      font-size: .875rem;
    }
  }

  .bx--form-item {
    width: 100%;
    margin-bottom: 1.5rem;
    .bx--select {
      min-width: 100px;
    }
  }

  .bx--form-item-override {
    margin-bottom: 0;
  }
}

.app-resources {
  display: flex
}

.configure-client {
  p {
    font-size: .875rem;
    color: $color__blue-90;
  }
  .description {
    padding-bottom: .5rem;
  }
  .bold {
    font-weight: bold;
    margin-top: 1rem
  }
  .bx--modal-content {
    overflow: visible;
  }
  .command-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    background-color: $color__navy-gray-3;
    .command {
      white-space: pre;
      padding: 1rem;
      color: $color__white;
      font-size: .875rem;
      line-height: 1.2rem;
      overflow-y: hidden;
    }
    .copy-button {
      position: relative;
      margin: .5rem .5rem 0 2rem;
      svg {
        fill: $color__blue-30;
      }
    }
  }
}
